@font-face {
	font-family: lato;
	src: url("lato-bold.woff2") format("woff2"),
		url("lato-bold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: lato;
	src: url("lato-regular.woff2") format("woff2"),
		url("lato-regular.woff") format("woff");
	font-weight: 400;
}

body {
	font-family: lato, sans-serif;
}

.main-title {
	font-weight: 700;
	font-size: 50px;
	color: rgb(45, 45, 45);
	line-height: 1.3;
	text-align: left;
}

.content {
	font-size: 22px;
	color: rgb(45, 45, 45);
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
}

.list {
	font-size: 16px;
	color: rgb(82, 82, 82);
	line-height: 1.5;
	text-align: left;
}

.content-wrapper {
	max-width: 1088px;
	max-height: 583px;
}

.content-pharagraph:first-line {
	font-weight: 700;
	white-space: break-spaces;
}